.vs/
bin/
obj/
TestResults/
*.user
*.suo
*.db
*.db-shm
*.db-wal
logs/
*.png
!assets/icons/*.png
!assets/mocks/*.png
!assets/screenshots/*.png
!assets/*.png
!src/WinAppProfiles.Package/Images/*.png
src/WinAppProfiles.Package/AppPackages/
*_wpftmp.csproj
nul
